<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sliderBox">
        <div class="text-div">
            <div class="inner-text-div">
                <h1>Here will be the Heading</h1>
                <p>Sub Heading Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempore, provident rem, hic ullam dolor
                    um qui quae eaque, inventore velit dolorem. Rerum eius itaque sit! Harum nam consequatur ea recusandae!</p>
              
                <button mat-button color="accent"> Know More<mat-icon>
                    <span class="material-symbols-outlined">
                        arrow_forward
                   </span>
                </mat-icon></button>
            </div>
        </div>
       
    </div>

    <div class="sd">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repudiandae id illum quas explicabo eligendi, tempora expedita nemo vel, delectus corporis atque, aspernatur ipsam reprehenderit aliquid tenetur temporibus similique neque?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, provident rerum sit placeat possimus itaque? Debitis ullam corrupti accusantium numquam cupiditate quasi tempora architecto delectus dolorum a, atque aut libero.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officia a sapiente rerum dicta, dignissimos error iusto eveniet beatae placeat! Quos ipsum unde dolores commodi nihil suscipit dolorem illo ipsam?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repudiandae id illum quas explicabo eligendi, tempora expedita nemo vel, delectus corporis atque, aspernatur ipsam reprehenderit aliquid tenetur temporibus similique neque?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, provident rerum sit placeat possimus itaque? Debitis ullam corrupti accusantium numquam cupiditate quasi tempora architecto delectus dolorum a, atque aut libero.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officia a sapiente rerum dicta, dignissimos error iusto eveniet beatae placeat! Quos ipsum unde dolores commodi nihil suscipit dolorem illo ipsam?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quidem ut
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repudiandae id illum quas explicabo eligendi, tempora expedita nemo vel, delectus corporis atque, aspernatur ipsam reprehenderit aliquid tenetur temporibus similique neque?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, provident rerum sit placeat possimus itaque? Debitis ullam corrupti accusantium numquam cupiditate quasi tempora architecto delectus dolorum a, atque aut libero.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officia a sapiente rerum dicta, dignissimos error iusto eveniet beatae placeat! Quos ipsum unde dolores commodi nihil suscipit dolorem illo ipsam?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quidem ut
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repudiandae id illum quas explicabo eligendi, tempora expedita nemo vel, delectus corporis atque, aspernatur ipsam reprehenderit aliquid tenetur temporibus similique neque?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, provident rerum sit placeat possimus itaque? Debitis ullam corrupti accusantium numquam cupiditate quasi tempora architecto delectus dolorum a, atque aut libero.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officia a sapiente rerum dicta, dignissimos error iusto eveniet beatae placeat! Quos ipsum unde dolores commodi nihil suscipit dolorem illo ipsam?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quidem ut
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repudiandae id illum quas explicabo eligendi, tempora expedita nemo vel, delectus corporis atque, aspernatur ipsam reprehenderit aliquid tenetur temporibus similique neque?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, provident rerum sit placeat possimus itaque? Debitis ullam corrupti accusantium numquam cupiditate quasi tempora architecto delectus dolorum a, atque aut libero.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officia a sapiente rerum dicta, dignissimos error iusto eveniet beatae placeat! Quos ipsum unde dolores commodi nihil suscipit dolorem illo ipsam?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quidem ut
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repudiandae id illum quas explicabo eligendi, tempora expedita nemo vel, delectus corporis atque, aspernatur ipsam reprehenderit aliquid tenetur temporibus similique neque?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, provident rerum sit placeat possimus itaque? Debitis ullam corrupti accusantium numquam cupiditate quasi tempora architecto delectus dolorum a, atque aut libero.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officia a sapiente rerum dicta, dignissimos error iusto eveniet beatae placeat! Quos ipsum unde dolores commodi nihil suscipit dolorem illo ipsam?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quidem ut
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quidem ut accusantium illum est iste laboriosam accusamus beatae inventore, ipsam fugiat quisquam distinctio odit voluptates quos officiis autem voluptas numquam!
    </div>
</body>
</html>