.color{
  background-color: rgb(218, 213, 213);
}
.imgContainer {
  position: relative;
  height: 15rem; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.content-and-slider {
  display: flex;
  margin: 0 3rem;
  padding: 2rem;
  height: 20rem;
  width: calc(100vw - 6rem); /* Adjust for the margins */
  background-color: rgb(255, 255, 255); /* Set unified white background */
  align-items: flex-start; /* Align items at the start */
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.756); /* Optional: Add a shadow for better distinction */
}
.left-content {
  padding: 2rem;
  flex: 1;
  text-align: justify;
  background-color: white;
  color: black;
  position: relative;
  overflow: hidden;
  transition: background-color 1s ease-in-out; /* Transition background color */
}

.left-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, black 50%);
  z-index: -1;
  transition: opacity 1s ease-in-out; /* Transition opacity for smooth appearance */
}

.left-content:hover::before {
  opacity: 0; /* Fade out the gradient on hover */
}

.left-content:hover {
  background-color: rgb(177, 135, 135);
  color: white;
}


.right-slider {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  background-color: rgb(255, 255, 255);
}
.zoom-image {
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.zoom-image:hover {
  transform: scale(1.1); /* Zoom in 20% */
}
.imgContainerMag {
  position: relative;
  height: 20rem; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.content-and-sliderMag {
  display: flex;
  margin: 0 3rem;
  padding: 2rem;
  height: 25rem;
  width: calc(100vw - 6rem); /* Adjust for the margins */
  background-color: rgb(255, 255, 255); /* Set unified white background */
  align-items: flex-start; /* Align items at the start */
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.756); /* Optional: Add a shadow for better distinction */
}
.left-contentMag {
  padding: 2rem;
  flex: 1;
  text-align: justify;
  background-color: white;
  color: black;
  position: relative;
  overflow: hidden;
  transition: background-color 1s ease-in-out; /* Transition background color */
}

.left-contentMag::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, black 50%);
  z-index: -1;
  transition: opacity 1s ease-in-out; /* Transition opacity for smooth appearance */
}

.left-contentMag:hover::before {
  opacity: 0; /* Fade out the gradient on hover */
}

.left-contentMag:hover {
  background-color: rgb(177, 135, 135);
  color: white;
}


.right-sliderMag {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  background-color: rgb(255, 255, 255);
}
.zoom-imageMag {
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.zoom-imageMag:hover {
  transform: scale(1.1); /* Zoom in 20% */
}
.container1 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.image-wrapper {
  width: 300px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  overflow: hidden; /* Hide any overflow */
  position: relative; /* Position the image */
}

.image-wrapper img {
  width: 100%; /* Make the image fill its container */
  height: 100%; /* Make the image fill its container */
  object-fit: cover; /* Ensure the image covers the container */
  transition: transform 0.5s ease; /* Smooth transition for zoom effect */
}

.image-wrapper:hover img {
  transform: scale(1.2); /* Zoom in 20% on hover */
}

.fixed-image-size {
  width: 100%; /* Adjust as needed */
  height: 17rem; /* Fixed height for all images */
  object-fit: cover;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.756); 
}

.read-more-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.523);
}

.read-more-button {
  display: inline-block;
}

  .container{
    background-color: rgb(60, 61, 61);
    display: flex;
    flex-flow: wrap;
    flex-grow: 1;
  }
  .heading {
    font-size: 7rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .text-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .text-block {
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    padding: 2rem;
    text-align: center;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  .container div{
    margin: 10px;
  }
  .carousel-item img {
    height: 30rem; 
    width: 80%;  
    margin: auto; 
  }
  .img1 {
    height: 50rem; 
    width: 900rem;
    transition: max-height 0.5s ease transform 0.5s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.756); 
  }  
  .img1:hover {
    transform: scale(0.9); /* Zoom in 20% */
  }
  
  .img1.leftmost {
    max-height: 100px; /* Adjust the height of the leftmost image */
  }
  
  .img1.rightmost {
    max-height: 100px; /* Adjust the height of the rightmost image */
  }
  
.small-image {
    max-width: 100%; /* Adjust the maximum width as needed */
  }

.carouselBg{
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display :block;
  background-color: rgb(255, 255, 255);
}

.content{
  /* flex:1 1; */
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display :block;
  background:rgb(250, 250, 250);
}
 .img1{
    width: 90vw;
    height: 50vh;
}
.image-wrapper {
    background-color: #000; /* Black background color */
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.imz{
    width: auto;
    height: 50%;
}

.cont {
  display: flex;
  flex-wrap: wrap;
}

.left-image {
  width: 50%;
  float: left;
  height: 70rem;
  overflow: hidden;
}

.right-images {
  width: 50%;
  float: left;
  /* height:35rem; */
  overflow: hidden;
}

.left-image img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.right-images img {
  width: 100%;
  height: 20%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .left-image, .right-images {
      width: 100%;
  }
}
.background-wrapper {
    /* background-image: url('assets/background.avif'); */
    background-size: cover; /* Adjust background size as needed */
    background-position: center; /* Adjust background position as needed */
    width: 100%; /* Ensure full width */
    height: 300rem; /* Set the desired height */
  }
  .custom-container {
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  
  .magazine-content {
    margin: 0 auto;
    max-width: 90%; /* Adjust the max-width as needed */
  }
  