.content-and-slider{
    display: flex;
    width: 99vw;
    height: 60vh;
    background-color: antiquewhite;
}

body{
    margin: 0;
    padding: 0;
}



.left-content{
    flex: 1;
    background-color: aqua;
}
.right-slider{
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    background-color: aquamarine;
}

 img{
    width: 90vw;
    height: 50vh;
}