.fixed {
    position: fixed;
    width: 100%;
    transition: 0.5s linear;
    top: 0px;
}

.nofixed {
    position: static;
    transition: 0.5s linear;
    top: -50px;
}
.navbar-top {
    background:linear-gradient(to right,blue , green);
}
.navbar-top a{
    color:white;
}
.navbar-bottom{
    color: white;
    background-color: black;
}
.navbar-brand {
    margin-right: 0%; /* Add some spacing between the logo and other navbar content */
  }
  
  .logo {
    width: 18.75rem; /* Set a specific width for the logo */
    height: auto; /* Allow the height to adjust proportionally */
  }