

  <nav class="navbar navbar-top navbar-expand-lg bg-body-primary fixed-top" 
    (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
    <div class="container-fluid container">
      <a class="navbar-brand" href="#"  class="navbar-brand">
        <img src="assets/Mirrorworld.webp" alt="" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/articles']">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/addarticles']">Add Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/contactus']">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<nav class="navbar navbar-bottom">
 
    <div class="container ">
      <div class="promo">
        Get A Chance To Feature In Magazine By Submitting Your Interview Today!
      </div>
      <div class="Smedia">

        <a class="navbar-brand" href="https://www.facebook.com/" target="_blank">
          <img src="assets/facebook-icon.svg" alt="Bootstrap" width="30" height="24">
        </a>
        <a class="navbar-brand" href="https://twitter.com/?lang=en" target="_blank">
          <img src="assets/icons8-twitter.svg" alt="Bootstrap" width="30" height="24">
        </a>
        <a class="navbar-brand" href="https://www.instagram.com/" target="_blank">
          <img src="assets/icons8-instagram.svg" alt="Bootstrap" width="30" height="24">
        </a>
        <a class="navbar-brand" href="https://in.linkedin.com/" target="_blank">
        <img src="assets/icons8-linkedin.svg" alt="Bootstrap" width="30" height="24">
      </a>
    </div>
    </div>
  
</nav>