<header>
    <div class="top-container">
        <div class="top-container-in">
            <a href="" routerLink="/"><img src="/src/assets/search.svg" height="20px" width="20px"></a>
            <nav>
                <ul>
                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">Twitter</a>
                    </li>
                    <li>
                        <a href="">Insta</a>
                    </li>
                    <li>
                        <a href="">LinkdIn</a>
                    </li>
    
                </ul>
            </nav>
        </div>
       
    </div>
    <div class="bottom-container">

        <div class="bottom-container-in">
            <a href="" routerLink="/"><img src="/src/assets/Mirrorworld.webp" alt="img"></a>
            <nav>
                <ul>
                    <li>
                        <a href="">Home1</a>
                    </li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Magazine</a>
                    </li>
                    <li>
                        <a href="">Articles</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
    
                </ul>
            </nav>
        </div>
    </div>
    
</header>
