.fixed {
    position: fixed;
    width: 100%;
    transition: 0.5s linear;
    top: 0px;
}
.nofixed {
    position: static;
    transition: 0.5s linear;
    top: -50px;
}
.navbar-top {
    /* background:linear-gradient(to right,rgb(230, 212, 212) , rgba(255, 255, 255, 0.95),rgb(184, 148, 148)); */
    /* background:linear-gradient(to right,rgb(187, 208, 249),rgb(112, 203, 186)); */
        background:linear-gradient(to right,rgb(248, 249, 252),rgb(248, 249, 251));
    /* 230, 212, 212    184, 148, 148    180, 208, 241   160,277,237 */
}
.btn {
    background-color: rgb(248, 249, 252);
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 1rem;
  }
  .btn-black {
    background-color: black;
    color: white;
  }
   .btn:hover {
    background-color: black; /* Change background color on hover */
  color: white; /* Change text color on hover */
 } 
.nav-item {
    border-radius: 2rem;
  }
.nav-item.active {
    background-color: black; /* Black color for active item */
  }
  
  .nav-item.active a.nav-link {
    background-color: black;
    color: white; /* White color for text of active item */
    border-radius: 1rem;
  }
.navbar-brand{
    margin-right: 26pt;
    padding-left: 0%;
}
.navbar-bottom{
    color: white;
    background-color: black;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 253, 253, 0.011); /* Adjust the opacity as needed */
    z-index: 1;
  }
.space{
    flex: 31 1 auto;
}
.smedia{
    text-size-adjust: 0.5rem;
}

  