<footer class="footer bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <a class="image" href="#" >
        <img src="assets/logobgR.jpg" alt="logo" width="280rem" height="60rem">
      </a><br><br>
      <div class="col-md-5">
        <div><b><h3>Digital Business </h3></b>
          <div class="justify"> Review Magazine is a  your premier source for insightful analysis, in-depth interviews, and cutting-edge trends in the world of digital business.
          </div>
     </div>
     <a class="navbar-brand" href="https://www.facebook.com/" target="_blank">
      <img src="assets/facebook-icon.svg" alt="Bootstrap" width="30" height="24">
    </a>
    <a class="navbar-brand" href="https://twitter.com/?lang=en" target="_blank">
      <img src="assets/twitter-icon.webp" alt="Bootstrap" width="25" height="20">
    </a>
    <a class="navbar-brand" href="https://www.instagram.com/" target="_blank">
      <img src="assets/icons8-instagram.svg" alt="Bootstrap" width="30" height="24">
    </a>
    <a class="navbar-brand" href="https://in.linkedin.com/" target="_blank">
    <img src="assets/icons8-linkedin.svg" alt="Bootstrap" width="30" height="24">
  </a>   
</div>
<div class="col-md-3 " >
  <h3>Quick Links</h3>
  <ul id="quicklinks" style="text-align: left">
    <li><a class="nav-link btn"  [routerLink]="['/articles']">Articles</a></li>
    <li><a class="nav-link btn"  [routerLink]="['/articles']">Magazines</a></li>
    <li><a class="nav-link btn"  [routerLink]="['/contactus']">Contact Us</a></li>
    <li><a class="nav-link btn"  [routerLink]="['/aboutus']">About Us</a></li>
    <li><a class="nav-link btn"  [routerLink]="['/login']">Login</a></li>
  </ul>
</div>







     <div class="col-md-4">
        <h5><h3>Contact Us</h3></h5>
        <address>
          123 Main Street<br>
          City, State, Zip<br>
          Country<br>
          Email: digitalbusinessreviewmagazinegmail.com<br></address>
            
      </div>
      <div></div>
    </div>
  </div>
</footer>
