<footer class="footer bg-dark text-light py-4">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <a class="image" href="#">
        <img src="assets/logobgR.jpg" alt="logo" width="280rem" height="60rem">
      </a>
    </div>
    <div class="row">
      <div class="col-md-4 text-center text-md-left">
        <div><b><h3>Digital Business</h3></b>
          <p class="justify">Review Magazine is your premier source for insightful analysis, in-depth interviews, and cutting-edge trends in the world of digital business.</p>
        </div>
        <div class="social-media mt-3">
          <a class="navbar-brand" href="https://www.facebook.com/" target="_blank">
            <img src="assets/facebook-icon.svg" alt="Facebook" width="30" height="24">
          </a>
          <a class="navbar-brand" href="https://twitter.com/?lang=en" target="_blank">
            <img src="assets/twitter-icon.webp" alt="Twitter" width="25" height="20">
          </a>
          <a class="navbar-brand" href="https://www.instagram.com/" target="_blank">
            <img src="assets/icons8-instagram.svg" alt="Instagram" width="30" height="24">
          </a>
          <a class="navbar-brand" href="https://in.linkedin.com/" target="_blank">
            <img src="assets/icons8-linkedin.svg" alt="LinkedIn" width="30" height="24">
          </a>
        </div>
      </div>

      <div class="col-md-3 quick-links">
      <h3 style="text-align: center;">Quick Links</h3>
        <div class="row">
        <div class="col">
          <ul id="quicklinks-left">
            <li><a class="nav-link btn" [routerLink]="['/articles']">Articles</a></li>
            <li><a class="nav-link btn" [routerLink]="['/articles']">Magazines</a></li>
            <li><a class="nav-link btn" [routerLink]="['/contactus']">Contact Us</a></li>
          </ul>
        </div>
        <div class="col">
          <ul id="quicklinks-right">
           
            <li><a class="nav-link btn" [routerLink]="['/aboutus']">About Us</a></li>
            <li><a class="nav-link btn" [routerLink]="['/login']">Login</a></li>
          </ul>
        </div>
  </div>
</div>


      <div class="col-md-4 text-center text-md-left">
        <h3>Contact Us</h3>
        <address>
          123 Main Street<br>
          City, State, Zip<br>
          Country<br>
          Email: digitalbusinessreviewmagazine@gmail.com<br>
        </address>
      </div>
    </div>
  </div>
</footer>
