<div class="outerContainer">

    <div class="container col-4">
        <div class="input-group mb-3">
    <div class="input-group mb-3">
        <span class="input-group-text">First and last name</span>
        <input type="text" aria-label="First name" class="form-control">
        <input type="text" aria-label="Last name" class="form-control">
    </div>
      <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email Address" aria-label="Username">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Phone Number" aria-label="Username">
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Submit</button>
    </div>
</div>
</div>
</div>