<div class="text-container">
    <img src="assets/background1.webp" alt="Notebook">
    <div class="text-block">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" enctype="multipart/form-data">
            <label for="inputEmail6">Email address</label>
            <div class="form-floating mb-3">
                <input type="email" required class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
            </div>
            <label for="inputPassword6">Password</label>
            <div class="form-floating">
                <input type="password" required class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
            </div>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-light">Login</button>
            </div>
        </form>
    </div>
</div>
