.article-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: rgb(227, 224, 224);
  }
  
  .article-title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .article-image {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 20px;
  }
  
  .article-author,
  .article-content,
  .article-industry,
  .article-date {
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .article-author,
  .article-industry,
  .article-date {
    font-size: 1rem;
    color: #555;
  }
  
  .article-content {
    font-size: 1.2rem;
  }
  