<div class="container">
  <div class="card widget-card" *ngFor="let a of magazine | slice:(page - 1) * 3 : page * 3">
    <div class="position-relative">
      <img [src]="a.coverImage" class="card-img-top" [alt]="a.title">
      <div class="card-img-overlay d-flex align-items-end justify-content-center">
        <!-- <h5 class="card-title text-white">{{a.title | slice:0:20}}</h5> -->
      </div>
    </div>
    <div class="card-body" style="height: 15rem;">
      <h5 class="card-title">{{a.title}}</h5>
      <!-- <p class="card-text">{{a.content}}..</p> -->
      <div>Posted On: {{a.createdAt  | slice:0:10}}</div>
      <div class="button-container">
        <button class="btn btn-primary center-align" (click)="readMore(a._id)">Read More</button>
        <button *ngIf="isAdminLoggedIn" class="btn btn-warning center-align" (click)="deleteMagazine(a._id)">Delete</button>
      </div>
    </div>
  </div>
</div>

<mat-paginator [length]="magazine.length" [pageSize]="3" aria-label="Select page" (page)="page = $event.pageIndex + 1"></mat-paginator>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Preview Magazine : {{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ngx-extended-pdf-viewer [enablePrint]="false" [showDownloadButton]="false" [src]="pdfUrl"></ngx-extended-pdf-viewer>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="c('Save click')">Close</button>
  </div>
</ng-template>
