<div class="text-container">
  <img src="assets/dgBackground.png" alt="Notebook">
  <div class="text-block">
      <button type="button" class="btn btn-dark" routerLink="/addarticles">Add Article</button>
      <button type="button" class="btn btn-dark" routerLink="/addMagazines">Add Magazine</button>
      <li>
          <a class="more-opt-open" (click)="logout()" href="javascript:void(0)">
              <button class="signout btn btn-dark" matTooltip="Signout" matTooltipPosition="below">Signout</button>
          </a>
      </li>
  </div>
</div>
