<div class="imgcontainer">
    <div class="content-and-slider">
      <div class="left-content">
      <img src="assets/small-image.jpg" alt="Notebook" style="width:80%; height:100%;">
    
  </div>
  
  <div class="right-slider"> 
  
    <div class="container mt-5 col-5">
        <form [formGroup]="magazineForm" #uploadForm (ngSubmit)="onSubmit()" enctype="multipart/form-data">

            <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter article title" >
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Author</span>
                <input type="text" class="form-control" id="author" formControlName="author" placeholder="Enter Author Name">
              </div>
              <select class="form-select mb-3"  formControlName="industry" id="industry" aria-label="Default select example">
                <option selected>---Select Industry---</option>
                <option value="Service">Service</option>
                <option value="Financial">Financial</option>
                <option value="Manufacturing">Manufacturing</option>
              </select>
          
          
              <div class="input-group mb-3">
                  <span>Magazine:</span><input type="file" class="form-control" id="inputGroupFile01" name="magazinePDF" (change)="onFileSelected($event)">
              </div>
              <div class="input-group mb-3">
               <span>Cover Image:</span> <input type="file" class="form-control" id="inputGroupFile02" name="coverImage" (change)="onFileSelected($event)">
            </div>
              <div class="d-grid gap-2 col-3" >
                <button class="btn btn-primary"  type="submit">Submit</button>
              </div>
        
      
                 
      </form> 
    </div>
    
  
  </div>
  </div>
  </div>